@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        background-color: theme("colors.white");
        border-radius: theme("borderRadius.lg");
        /* border: theme("colors.red.800"); */
        /* padding: theme("spacing.6"); */
        box-shadow: theme("boxShadow.xl");
    }
}

h1 {
    font-family: "Montserrat", "sans-serif";
}

.lgbtiq-gradient {
    /* background-color: "linear-gradient(90.41deg, #FF4C35 7.46%, #FE9B05 22.91%, #FBC600 38.35%, #72C63D 57.77%, #665DFB 73.66%, #C92CE5 92.2%)"; */
    /* background-color: "bg-gradient-to-r from-[#FF4C35]/7.46, via-[#FE9B05]/22.91 via-[#FBC600]/38.35 via-[#72C63D]/57.377 via-[#665DFB]/73.66 to-[#C92CE5/92.2]", */
    background-image: linear-gradient(to right, #FF4C35 7.46%, #FE9B05 22.91%, #FBC600 38.35%,#72C63D 57.77%, #665DFB 73.66%, #C92CE5 92.2%);
    ;
}

.lgbtiq-button {
    font-family: "Montserrat", "sans-serif";
    color: #FFFFFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin-top: 32px;
    padding: 14px, 75px, 14px, 75px;
    border-radius: 8px;
    box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.16);
    background-color: blue;
    width: 100%;
    height: 50px;    
}

.lgbtiq-button-two {
    font-family: "Montserrat", "sans-serif";
    color: #FFFFFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin-top: 32px;
    padding: 14px, 75px, 14px, 75px;
    border-radius: 1000px;
    box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.16);
    background-color: blue;
    width: 300px;
    height: 50px;    
}

